@tailwind base;
@tailwind components;
@tailwind utilities;

.learn {
    @apply uppercase font-fraunces text-very-dark-desatured-blue bg-transparent relative;
    display: inline-block;
}
.learn::after {
    content: '';
    display: block;
    width: 8rem;
    height: 9px;
    position: absolute;
    bottom: 10%;
    z-index: -1;
    @apply bg-[#FFF2BB] -ml-1;
}

.learn2 {
    @apply uppercase font-fraunces text-very-dark-desatured-blue bg-transparent relative;
    display: inline-block;
}
.learn2::after {
    content: '';
    display: block;
    width: 8rem;
    height: 9px;
    position: absolute;
    bottom: 10%;
    z-index: -1;
    @apply bg-[#FCD5D0] -ml-1;
}

.tran {
    transform: translate(-50%, -50%);
}
/* ----------------------- */
/* RESET                   */
/* ----------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: auto !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------------- */
/* UTILITY Classes         */
/* ----------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
